dataweaveGlobalFun/src/main/app/dataweave2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="dataweaveFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dw" allowedMethods="POST" doc:name="HTTP"/>
        <echo-component doc:name="Echo"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="1f028c52-a430-49b0-b76d-5c85ef335745">
            <dw:input-payload />
            <dw:set-payload ><![CDATA[%dw 1.0			
			%output application/xml		
			%var myLib = readUrl("classpath://dw/myDW.wev")	
			---
				users: (payload.Logger.*LogDetails mapObject (value,key) -> {
					(key):  value mapObject (innerValue, innerKey) -> {
						(innerKey): myLib.convertToUpper(innerValue, innerKey,'LogLevel')
					}				
				})
			]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
